#contenedor{
    width: 1405px;
}
#Slider{
    height: 100px;
    width: 1405px;
    background-color: rgb(151, 151, 151);
    text-align: center;
}

#Cuerpó{
    height:600px;
    background-color: rgb(70, 53, 42)
}

#Footer{
    height: 50px;
    width: 1405px;
    background-color: rgb(26, 21, 26);
}
#primera{
    float: left;
    margin: 20px 40px; 
    padding: 20px;
    text-align: center;
    background-color:tan
}
#segunda{
    float: left;
    margin: 20px 50px;
    padding: 20px;
    text-align: center;
    background-color:tan    
}
#tercera{
    float: left;
    margin: 20px 30px;
    padding: 20px;
    text-align: center;
    background-color:tan
}